body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Mantém a imagem fixa enquanto rola */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/fundo.jpg");
  height: 100vh; 
  overflow: hidden; /* Impede a rolagem externa */
}

* {
  box-sizing: border-box;
}


.professor-input-container {
  display: flex; /* Faz com que os filhos sejam exibidos em linha */
  align-items: center; /* Alinha verticalmente no centro */
}

.professor-input-container input {
  margin-right: 10vw; /* Espaço entre o input e o botão */
  flex-grow: 1; /* O input ocupa o espaço restante */
}

.form {
  margin-top: 10vh;
}

.cronograma {
  border-radius: 10px;
  background-color: rgb(236, 243, 249);
  height: auto; /* Mude para auto para se ajustar ao conteúdo */
  width: 1250vw;
  padding: 20vw; 
  color: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -4px -4px 9px rgba(0, 0, 0, 0.3);
}

.Navbar {
  /* Texto branco */
  width: 100vw;
  /* Largura da viewport */
  overflow: hidden;
  /* Esconde a rolagem */
  height: 150vh;
  /* Altura definida */
  padding: 10vw;
  /* Espaçamento interno */
  z-index: 10;
  /* Z-index alto */
  margin-left: 0vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Navbar h1 {
  font-size: 34vw;
  color: #f7f6fa;
  margin-left: 40vw;
  transition: color 0.3s, transform 0.3s;
}

.Navbar h1 a {
  text-decoration: none;
  /* Remove o sublinhado do link */
  color: inherit;
  /* Herda a cor do h1 */
}

.Navbar img {
  margin-left: 30vw;
}

.Navbar h1:hover {
  color: white;
  /* Cor ao passar o mouse */
  transform: scale(1.2);
  /* Aumenta o tamanho */
}

.quest {
  border-radius: 10px;
  max-height: 80vh;  /* Define uma altura máxima para o questionário */
  overflow-y: auto;  /* Permite a rolagem interna */
  width: 750vw;
  padding: 20vw;
  color: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), -4px -4px 9px rgba(0, 0, 0, 0.3);
  opacity: 90%;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  backdrop-filter: blur(400px);
}

.titulo-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.btn-simples {
  margin-top: 20vh; 
  padding: 10vw 15vw;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12vw;
  width: 3o0px;
  height: auto;
  font-size: 14vw;
  display: flex; 
  justify-content: right; 
  align-items: right;
  margin-left: 10vw; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */

}

.btn-simples::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0d6758;
  left: 0;
  top: 0;
  border-radius: 10vw;
}

.btn-simples::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2vh;
  left: -2vw;
  background-size: 600vh;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10vw;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* Hover */
.btn-simples:hover::before {
  opacity: 1;
}

.btn-simples:active:after {
  background: transparent;
}

.btn-simples:active {
  color: hwb(38 63% 2%);
  font-weight: bold;
}

.btn {
  margin-top: 20vh; 
  padding: 15vw;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12vw;
  width: 300vw;
  height: 50vh;
  font-size: large;
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0d6758;
  left: 0;
  top: 0;
  border-radius: 10vw;
}

/* Glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2vh;
  left: -2vw;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10vw;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* Hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: hwb(38 63% 2%);
  font-weight: bold;
}

.input {
  position: relative;
  width: 100vw;
  margin-bottom: 15vh 15vw; /* Espaço entre os inputs */
}

.input input {
  border: none; /* Remove bordas padrão */
  border-bottom: 2vh 2 vw solid #071d1a; /* Borda inferior */
  background: transparent; /* Sem fundo */
  width: 100%; /* Ocupa toda a largura do contêiner */
  outline: none; /* Remove a outline ao focar no input */
  padding: 8vw 0; /* Espaçamento interno no topo e na parte inferior */
  font-size: 16vh; /* Ajuste o tamanho da fonte se necessário */
  color: #ffffff;
}

.input input::placeholder {
  color: #ffffff; /* Cor do placeholder */
  opacity: 0.7; /* Opacidade do placeholder, se desejar */
}
